{{define "history"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>History</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
{{.Styles}}
<body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  </nav>
</header>
<main role="main" class="container">
  <div class="row">
    <div id="main" class="col-md-9 order-md-1">
      <h1>History</h1>
      Show <select class="form-control paginater-limit">
      <option {{if eq .Limit 5}}selected="selected"{{end}}>5</option>
      <option {{if eq .Limit 10}}selected="selected"{{end}}>10</option>
      <option {{if eq .Limit 20}}selected="selected"{{end}}>20</option>
      <option {{if eq .Limit 30}}selected="selected"{{end}}>30</option>
    </select> entries
      <table class="table table-bordered" id="history-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Revision message</th>
          <th>Date</th>
        </tr>
        </thead>
      {{$limit := .Limit}}
      {{$page := .Page}}
      {{range $index, $commit := .Commits}}
        <tr data-commit="{{$commit.AbbreviatedCommit}}">
          <td>
            <img class="avatar" width="20" height="20"
                 src="http://github.com/{{$commit.Commiter.Name}}.png"/>{{$commit.Commiter.Name}}
          </td>
          <td>
          {{$commit.Subject}}
          </td>
          <td>
          {{$commit.Commiter.Date.Format "Jan 06, 2006 3:04PM"}}
          </td>
        </tr>
      {{end}}
      </table>
      <button class="btn btn-secondary" id="compare">Compare revisions</button>
      <nav class="float-right">
        <ul class="pagination">

          <li class="page-item {{if lt .PrevPage 1}}disabled{{end}}">
            <a class="page-link" href="/history?page={{.PrevPage}}&limit={{$limit}}" tabindex="-1">Previous</a>
          </li>
        {{range .Pages}}
          <li class="page-item {{if eq $page .}}active{{end}}"><a class="page-link"
                                                                  href="/history?page={{.}}&limit={{$limit}}">{{.}}</a>
          </li>
        {{end}}
          <li class="page-item {{if gt .NextPage .Count}}disabled{{end}}">
            <a class="page-link" href="/history?page={{.NextPage}}&limit={{$limit}}" tabindex="-1">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script type="text/javascript">
  $(document).ready(function () {

    let first = ''
    let second = ''

    $('#history-table').on('click', 'tr:gt(0)', function () {
      let dataAttr = $(this).attr('data-commit')
      if (first === dataAttr) {
        first = ""
        $(this).removeClass('table-primary')
        return
      }

      if (second === dataAttr) {
        second = ""
        $(this).removeClass('table-primary')
        return
      }

      if (first === '') {
        first = dataAttr
      } else if (second === '') {
        second = dataAttr
      }

      $(this).addClass('table-primary')
    })

    $('#history-table').on('mouseover', 'tr:gt(0)', function () {
      $(this).addClass('table-primary')
    }).on('mouseout', 'tr:gt(0)', function () {
      let dataAttr = $(this).attr('data-commit')
      if (first !== dataAttr && second !== dataAttr) {
        $(this).removeClass('table-primary')
      }
    })

    $('#compare').click(function (e) {
      e.stopPropagation()
      window.location.replace(location.href + '/' + first + '/' + second + '/')
    })

    $(".paginater-limit").on("change", function () {
      let limit = $(".paginater-limit option:selected").val()

      let relativePath = "{{.RelativePath}}"
      let page = "{{.Page}}"

      if (relativePath !== '') {
        window.location.replace('/' + relativePath + '/history?page=1&limit=' + limit)
      } else {
        window.location.replace('/history?page=1&limit=' + limit)
      }
    })
  })
</script>
</body>
</html>
{{end}}